body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #f4f6f8;
  --card-background: #fff;
  --h1: #19202d;
  --navbar-border: rgb(228, 235, 250);
}
[data-theme="dark"] {
  --background: #20212c;
  --card-background: #2b2c37;
  --h1: #fff;
  --navbar-border: rgb(62, 63, 78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
